@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$Green: hsl(75, 94%, 57%);

$White: hsl(0, 0%, 100%);

$Grey_700: hsl(0, 0%, 20%);
$Grey_800: hsl(0, 0%, 12%);
$Grey_900: hsl(0, 0%, 8%);

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $Grey_900;
  font-family: "Inter";
  color: $White;
  @include flex;
  width: 100vw;
  height: 100dvh;

  .card {
    background-color: $Grey_800;
    display: grid;
    grid-template-rows: 25% auto auto 10% 52%;
    justify-items: center;
    gap: 1%;
    width: #{clamp(330px, calc(30vw + 1px), 390px)};
    min-height: 610px;
    padding: #{clamp(1.5rem, 3%, 2.5rem)};
    text-align: center;
    border-radius: 12px;
    .image {
      height: 100%;
      aspect-ratio: 1/1;
      @include flex;
      img {
        width: 70%;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      color: $Green;
      font-size: 15px;
    }
    p {
      font-size: 15px;
      align-self: center;
    }

    .btn {
      width: 100%;

      display: grid;
      justify-content: stretch;
      gap: 5%;

      button {
        border: none;
        background-color: $Grey_700;
        color: $White;
        font-weight: 600;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $Green;
          color: $Grey_900;
        }
      }
    }
  }
}
